*.bat
*.tcp
*.tps

*.ini
.htaccess
.idea/
*.class
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

*.phar
.metadata
.classpath
.settings
.project
bin/
*.lock
/vendor
*.ini
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/s3c_s06_jenin_mendez-porcel_michel_pennerat.iml
.idea/vcs.xml
.idea/webServers.xml
composer.lock
vendor/autoload.php
vendor/composer/
vendor/doctrine/
vendor/illuminate/
vendor/kylekatarnls/
vendor/nesbot/carbon/LICENSE
vendor/nesbot/carbon/composer.json
vendor/nesbot/carbon/readme.md
vendor/nesbot/carbon/src/
vendor/psr/
vendor/slim/
vendor/symfony/polyfill-mbstring/
vendor/symfony/translation-contracts/
vendor/symfony/translation/.gitattributes
vendor/symfony/translation/CHANGELOG.md
vendor/symfony/translation/Catalogue/
vendor/symfony/translation/Command/
vendor/symfony/translation/DataCollector/
vendor/symfony/translation/DataCollectorTranslator.php
vendor/symfony/translation/DependencyInjection/
vendor/symfony/translation/Dumper/
vendor/symfony/translation/Exception/
vendor/symfony/translation/Extractor/
vendor/symfony/translation/Formatter/
vendor/symfony/translation/IdentityTranslator.php
vendor/symfony/translation/Interval.php
vendor/symfony/translation/LICENSE
vendor/symfony/translation/Loader/
vendor/symfony/translation/LoggingTranslator.php
vendor/symfony/translation/MessageCatalogue.php
vendor/symfony/translation/MessageCatalogueInterface.php
vendor/symfony/translation/MessageSelector.php
vendor/symfony/translation/MetadataAwareInterface.php
vendor/symfony/translation/PluralizationRules.php
vendor/symfony/translation/README.md
vendor/symfony/translation/Reader/
vendor/symfony/translation/Resources/data/
vendor/symfony/translation/Resources/schemas/
vendor/symfony/translation/Translator.php
vendor/symfony/translation/TranslatorBagInterface.php
vendor/symfony/translation/TranslatorInterface.php
vendor/symfony/translation/Util/
vendor/symfony/translation/Writer/
vendor/symfony/translation/composer.json
